<!DOCTYPE html>
<html>
  <head>
      <title>Backbone: Hello World</title>
  </head>

  <body>

    <button id="check">check in</button>
    <ul id="world-list"></ul>

    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/jquery-1.10.2.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/underscore.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/backbone.js"></script>


    <script src="../static/js/tests/model.js"></script>

  </body>

</html>



