<html>
<head>
    <title>Change Text</title>
    <script type="text/javascript" src="../static/js/change-text.js"></script>
</head>

<body onload="loadXMLDoc('../data/text_xmlhttp_1.txt')">
    <p>Text</p>
    <div id="text" style="border:1px solid lightgray; height:40; width:300;padding:5"></div>
    <p>Headers</p>
    <div id="headers"></div>
    <p>This file was last modified on:</p>
    <div id="headers-modified"></div>
    <br/>
    <button onclick="loadXMLDoc('../data/text_xmlhttp_2.txt')">Click</button>

</body>
</html>

