{% extends 'dreams/index.html'%}

{% block content-main %}
    
    <form action="{% url 'add' %}" method="post">{% csrf_token %}


        <p>Title: <input type="text" name="title" value={{ dream.title }}></p>
        <p>Date: <input type="date" name="date", value={{ dream.date }}><p>
        <p>Content: <input type="text" name="content" value={{ dream.content }}></p>
        <p>Feedback: <input type="text" name="feedback" value={{ dream.feedback }}></p>

        <button type="submit" value="Submit">Save</button>


    </form>

{% endblock %}


